/*! =========================================================
 * dashboard.css
 * ========================================================= */

.sidebar[data-color="azure"]:after,
.bootstrap-navbar[data-color="azure"]:after {
  background: #009DE0;
  background: -moz-linear-gradient(top, #009DE0 0%, rgba(64, 145, 255, 0.7) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009DE0), color-stop(100%, rgba(64, 145, 255, 0.7)));
  background: -webkit-linear-gradient(top, #009DE0 0%, rgba(64, 145, 255, 0.7) 100%);
  background: -o-linear-gradient(top, #009DE0 0%, rgba(64, 145, 255, 0.7) 100%);
  background: -ms-linear-gradient(top, #009DE0 0%, rgba(64, 145, 255, 0.7) 100%);
  background: linear-gradient(to bottom, #009DE0 0%, rgba(64, 145, 255, 0.7) 100%);
  background-size: 150% 150%;
}

.full-page[data-color="azure"]:after {
  background: #009DE0;
  background: -moz-linear-gradient(top, #009DE0 0%, rgba(64, 145, 255, 0.6) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009DE0), color-stop(100%, rgba(64, 145, 255, 0.6)));
  background: -webkit-linear-gradient(top, #009DE0 0%, rgba(64, 145, 255, 0.6) 100%);
  background: -o-linear-gradient(top, #009DE0 0%, rgba(64, 145, 255, 0.6) 100%);
  background: -ms-linear-gradient(top, #009DE0 0%, rgba(64, 145, 255, 0.6) 100%);
  background: linear-gradient(to bottom, #009DE0 0%, rgba(64, 145, 255, 0.6) 100%);
  background-size: 150% 150%;
}

.nav-pills-azure > li.active > a,
.nav-pills-azure > li.active > a:hover,
.nav-pills-azure > li.active > a:focus {
  background-color: #009DE0;
}

.pagination-azure > li.active a,
.pagination-azure > li.active a:hover,
.pagination-azure > li.active a:focus,
.pagination-azure > li.active span,
.pagination-azure > li.active span:hover,
.pagination-azure > li.active span:focus {
  background-color: #009DE0;
}

.nav-pills-azure > li > a {
  border: 1px solid #009DE0;
  color: #009DE0;
}

.nav-azure > li.active a {
  color: #009DE0;
}

.fc-event.event-azure {
  background-color: rgba(0, 157, 224, 0.2);
}

.ct-azure {
  stroke: #009DE0 !important;
}

.caret {
  color: #009DE0;
}

@media (min-width: 992px) {
  .video {
    margin-right: -30px;
  }

  #searchForm {
    width: 500px;
  }

  ul.thumbnails.image_picker_selector {
    margin-left: 24px;
  }
}

@media (max-width: 991px) {
  .video {
    margin-right: -15px;
  }

  #searchForm {
    width: 300px;
  }

  ul.thumbnails.image_picker_selector {
    margin-left: 38px;
  }

}

@media (max-height: 560px) {
  body {
    overflow: auto !important;
  }
}

@media (min-width: 1630px) {
  .video {
    margin-right: -15px;
  }
}

@media (min-height: 983px) {
  body {
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  ul.thumbnails.image_picker_selector {
    margin-left: 24px;
  }
}

@media (max-width: 500px) {
  #searchForm {
    width: 150px;
  }
}

.image_picker_image {
  width: 140px;
}

.panel-heading .caret {
  margin-top: 25px;
}

#cadastroPrograma {
  overflow-y:scroll;
}

.font-verdana {
  /*font-family: verdana, sans-serif;*/
}

.img {
  max-width: 100%;
  max-height: 198px;
  height: auto;
}

.panel-default > .panel-heading {
  background-color: transparent;
}

.panel-default {
  transition: background-color 0.6s;
}

.tooltip {
  font-size: 12px;
}

.tooltip-inner {
  /*max-width: 180px;*/
  max-width: 400px;
  color: white;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(115, 71, 38, 0.23);
}

.white-tooltip + .tooltip > .tooltip-inner {
  background-color: white;
  color: black;
}

.white-tooltip + .tooltip> .tooltip-arrow {
  border-bottom-color:white;
}

.green-tooltip + .tooltip > .tooltip-inner {
  background-color: #00b33c;
}

.green-tooltip + .tooltip> .tooltip-arrow {
  border-bottom-color:#00b33c;
}

.blue-tooltip + .tooltip > .tooltip-inner {
  background-color: #33ccff;
}

.blue-tooltip + .tooltip> .tooltip-arrow {
  border-bottom-color: #33ccff;
}

.orange-tooltip + .tooltip > .tooltip-inner {
  background-color: #ff6600;
}

.orange-tooltip + .tooltip> .tooltip-arrow {
  border-bottom-color: #ff6600;
}

.yellow-tooltip + .tooltip > .tooltip-inner {
  background-color: #ffcc00;
}

.yellow-tooltip + .tooltip> .tooltip-arrow {
  border-bottom-color:#ffcc00;
}

.red-tooltip + .tooltip > .tooltip-inner {
  background-color: #ff0000;
}

.red-tooltip + .tooltip> .tooltip-arrow {
  border-bottom-color:#ff0000;
}

.black-tooltip + .tooltip > .tooltip-inner {
  background-color: black;
}

.black-tooltip + .tooltip> .tooltip-arrow {
  border-bottom-color:black;
}

.thumbnail > img {
  height: 80px;
}

.thumbnail > p {
  white-space: nowrap;
  width: 140px;
  overflow: hidden;
  margin-bottom: 0px;
  text-overflow: ellipsis;
}

.toolbar {
  position: relative;
  padding-bottom: 15px !important;
  z-index: 1;
}

.scroll-content {
  padding-top: 0px;
}
